body {
    color: #434455;
    font-weight: 400;
    font-family: Roboto , sans-serif;
    background-color: #ffffff;
    
}

a {
    text-decoration: none;
}

ul {list-style-type: none;}

.page-link {
    color: #4d5ae5;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    font-family: Raleway , sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.logo-accent{
    color: #2e2f42;
}

.down-logo-accent {
    color: #F4F4FD;
}

.menu-nav li a {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu-nav li a:hover,
.menu-nav li a:focus {
    color: #404BBF;
}

.address-one ul li a {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-one ul li a:hover,
.address-one ul li a:focus {
    color: #404BBF;
}

.hero-image {
    background-color: #2E2F42;
}

.hero-image-text {
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.main-button {
    background-color: #4D5AE5;
    font-family: Roboto , sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.04em;
}

.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}

.sections-paragraph {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.sections-title {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.02em;
}

p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.section-1 .sections-title {
    color: #ffffff;
}

.section-2 {
    background-color: #F4F4FD;
}

.section-2 .section-2-list {
    background-color: #ffffff;
}

footer {
    background-color: #2E2F42;
}

footer p {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    letter-spacing: 0.02em;
}
